/* Main */

.main {
  justify-content: center;

  &__title {
    color: $color-text;
    text-align: center;
  }

  & p {
    color: $color-text;
  }

  &__image {
    max-width: 100%;
    height: auto;
    border: 0;
  }
}

blockquote {
  border-left: 0.25rem solid $blockquote-border-color;
  padding-left: 1rem;
  font-style: italic;
}
