<footer class="footer">
  <section class="footer__section">
    <i class="fas fa-chess-pawn pawn"></i>
    <h2>Contact Us</h2>
    <p>Email: info@chessyclub.com</p>
    <p>Phone: 555-555-5555</p>
    <p>Address: 123 Main St, Arlent TX</p>
  </section>
  <hr>
  <nav class="footer__nav">
    <a href="./index.html" class="footer__logo"><img src="./assets/images/chess-pawn-icon.png" class="navbar__img"
        alt="Pawn Icon" /></a>
    <ul class="footer__menu">
      <li class="footer__nav-item">
        <a href="./index.html" class="footer__nav-link">Home</a>
      </li>
      <li class="footer__nav-item">
        <a href="./members.html" class="footer__nav-link">Members</a>
      </li>
      <li class="footer__nav-item">
        <a href="./about.html" class="footer__nav-link">About</a>
      </li>
      <li class="footer__nav-item">
        <a href="./events.html" class="footer__nav-link">Events</a>
      </li>
    </ul>
    <ul class="footer__menu-social">
      <li class="footer__nav-item">
        <a href="#" class="footer__nav-link"><i class="fab fa-facebook"></i></a>
      </li>
      <li class="footer__nav-item">
        <a href="#" class="footer__nav-link"><i class="fab fa-twitter"></i></a>
      </li>
      <li class="footer__nav-item">
        <a href="#" class="footer__nav-link"><i class="fab fa-instagram"></i></a>
      </li>
    </ul>
  </nav>
</footer>